body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.quantityCart{
  position: relative;
  top: -10px;
  left: -10px;
  background-color: red;
  width: 20px;
  height: 20px;
  font-size: 10px;
  padding: 1px;
  text-align: center;
  border-radius: 70px;
}
.all_cart{
  display: grid;
  grid-template-columns: 40% 40% 20%;
}
.remove_item_cart{
  
  height: 30px;
  width: 40px;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  
}
.remove_item_cart:hover{
  transition: ease-in 0.3s ;
  background-color: red;
  
}
.img_item_cart{
  height: 250px;
  width: 50%;
}
.Header_item_cart{
  font-size: 40px;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.Header_item_cart1{
  font-size: 40px;
  height: 50px;

  line-height:normal
}
.link_icon_cart{
  color: #000;
}
.link_icon_cart:hover{
  color: #000;
}
.button_quay_lai{
  padding: 10px;
  cursor: pointer;
  width: 100px;
  position: relative;
  top: 150px;
  border-radius: 5px;

}
.button_quay_lai:hover{
  opacity: 0.8;
  background-color:#000;
  color: white;
}
.Cart_emty{
  text-align: center;
  display: flex;
}
.buttonAddtoCart{
  background-color: white;
  border: gray solid 2px;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.buttonAddtoCart:hover{
  color: white;
  background-color: black;
}
.button_quantity{
  border-radius: 100px;
  margin: 5px;
  background-color: #000;
  color: white;
  cursor: pointer;
}
.navbar{
  background-color:black;
  z-index: 10;
  width: 100%;
  padding: 0px;
  transition: ease 0.5s;
}
.item_nav:hover{
  background-color: aliceblue;
  color: #000;
}
.completeBuy{
  margin: 40px 0px;
}
.completeBuyy{
  margin: 40px 0px;
  font-size: 30px;
  animation: pulse 4s linear infinite;
}
.imgsuccess{
  height: 150px;
}
.completeBuy1{
  cursor: pointer;
  border-radius: 2px;
}
.completeBuy1:hover{
  background-color: black;
  color: white;
  transition: ease 0.4s;
}
.validPhone{
color: red;
margin-top: -10px ;

padding: 0px;
font-size: 10px;
}
.customerPhone{
  margin-bottom: 0px;
  padding-bottom: 0px;
}


@keyframes pulse{
  0% {
    color: rgb(61, 214, 150);
  }
  10% {
    color: rgb(55, 177, 110);
  }
  20% {
    color: rgb(173, 44, 212);
  }
  30% {
    color: rgb(211, 32, 62);
  }
  40% {
    color: rgb(219, 169, 31);
  }
  50% {
    color: rgb(39, 226, 21);
  }
  60% {
    color: rgb(17, 207, 255);
  }
  70% {
    color: rgb(238, 17, 190);
  }
  80% {
    color: rgb(252, 0, 0);
  }
  90% {
    color: rgb(103, 226, 150);
  }
  100% {
    color: rgb(183, 214, 46);
  }
}
.icon_add{
  border: none;
  cursor: pointer;
  background-color: gray;
  border-radius: 5px;
  color: rgb(184, 196, 196);
  font-size: 6px;
  position: relative;
  left: -450px;
  top: 51px;
}
.list_product{
  font-size: 30px;
  margin: 10px;
}