body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.quantityCart{
  position: relative;
  top: -10px;
  left: -10px;
  background-color: red;
  width: 20px;
  height: 20px;
  font-size: 10px;
  padding: 1px;
  text-align: center;
  border-radius: 70px;
}
.all_cart{
  display: grid;
  grid-template-columns: 40% 40% 20%;
}
.remove_item_cart{
  background-color: red;
  height: 50px;
  width: 70px;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  
}
.img_item_cart{
  height: 250px;
  width: 50%;
}
.Header_item_cart{
  font-size: 40px;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.Header_item_cart1{
  font-size: 40px;
  height: 50px;

  line-height:normal
}
.link_icon_cart{
  color: #000;
}
.link_icon_cart:hover{
  color: #000;
}
.button_quay_lai{
  padding: 10px;
  cursor: pointer;
  width: 100px;
  position: relative;
  top: 150px;
  border-radius: 5px;

}
.button_quay_lai:hover{
  opacity: 0.8;
  background-color:#000;
  color: white;
}
.Cart_emty{
  text-align: center;
  display: flex;
}
.buttonAddtoCart{
  background-color: white;
  border: gray solid 2px;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.buttonAddtoCart:hover{
  color: white;
  background-color: black;
}
.button_quantity{
  border-radius: 100px;
  margin: 5px;
  background-color: #000;
  color: white;
  cursor: pointer;
}
.navbar{
  background-color:black;
  z-index: 10;
  width: 100%;
  padding: 0px;
}
.item_nav:hover{
  background-color: aliceblue;
  color: #000;
}
.completeBuy{
  margin: 40px 0px;
}
.completeBuy1{
  cursor: pointer;
  border-radius: 2px;
}
.completeBuy1:hover{
  background-color: black;
  color: white;
  transition: ease 0.4s;
}
.validPhone{
color: red;
margin: 0px;
padding: 0px;
font-size: 10px;
}
.customerPhone{
  margin-bottom: 0px;
  padding-bottom: 0px;
}